@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #030304;
    color: #FBFBFB;
    line-height: 1.5;
}

h1, h2 {
  font-family: 'Courier New', monospace;
}



.hover-content {
    --x: 50%;
    --y: 50%;
    @apply absolute inset-0 w-full h-full font-input-mono text-[0.85rem] break-words leading-[1.15] text-white opacity-0 [mask-image:var(--mask-radial-mouse)] [-webkit-mask-image:var(--mask-radial-mouse)];
}

@layer base {
  ::selection {
    @apply bg-white text-black;
  }
  ::-moz-selection {
    @apply bg-white text-black;
  }
}